<div ng-controller="CompaniesController" style="width: 1000px;">
	<div>
		<div style="width: 650px; display: inline-block;">
			<img src="./../static/{{companies.logo}}.jpg" alt="company logo" >
			{{ company.name }}
			{{ company.project_title }}
			<img src="./../static/{{companies.logo}}.jpg" alt="company logo" style="width: 500px; height: 250px;">
		</div>

		<div style="width: 300px; display: inline-block;">
			<h4>{{ company.project_funders }} Funders</h4>
			<h4>${{ company.project_goal }}</h4>
			<p>pledged of {{ company.project_current }} goal</p>
			<h4>{{ company.project_deadline }}</h4>
			<a href="#/invest/{{ company.id }}"><input type="submit" ng-click="invest()" value="Invest in this Project" class="btn-primary"></a>
		</div>
	</div>
	
	<div>
		<div style="width: 650 px; display: inline-block;">
			<h3>About this project</h3>
			{{ company.project_description }}
			<h3>Highlights</h3>
			<p>#1. {{ company.project_highlight#1 }} </p>
			<p>#2. {{ company.project_highlight#2 }} </p>
			<p>#3. {{ company.project_highlight#3 }} </p>
			<h3>Elevator Pitch</h3>
			<p>{{ company.project_elevator }}</p>
		</div>

		<div style="width: 300px; display: inline-block;">
			<h4>Documents</h4>
			<a href="">Investor Pitch Deck-1</a>
			<a href="">Investor Pitch Deck-2</a>
		</div>
	</div>
</div>	