<div ng-controller="">
	<h3>Create a campaign</h3>
		<p>Company Name* : <input type="text" name="name" placeholder="question" ng-model='newCompany.name'></p>
		<p>Company Logo : </p>
		<p>Company Location : 	<select ng-model='newCompany.location'>
									<option>India</option>
									<option>USA</option>
								</select>
		</p>
	<h3>Project Details</h3>
		<p>Project video</p>
		<p>Project Description : <input type="text" name="name" placeholder="question" ng-model='newCompany.project_title'></p>
		<p>Project Description : <input type="text" name="name" placeholder="question" ng-model='newCompany.project_description'></p>
</div>
