<div class="container" style="width=100%; height: 100%; background-image: url('./../static/background.jpg');">
<h1 style="text-align:center; color: #FF3333;">Meet the Developers</h1>
   <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="./static/mona.jpg" alt="mona" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">
                <p>Mona graduated with a degree in Electronics & Communication Engineering in 2012. She has previously worked with NIT SIkkim and D.E.Shaw Research. She enjoys coding and is always keen on learning bleeding-edge technologies. She is motivated and a quick starter. She is always ready to learn things on her own. She immensely helped in shaping FundHub to its current form. She is a motivated learner and a self-starter.</p>
              </span>
            </div>
          </div>
        </div>
      </div>

       <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            
            <div class="col s10">
              <span class="black-text">
                <p>Armand received his B.S. in Neuroscience and Psychology in 2014. Since then, he has changed career tracks, attending Coding Dojo in 2015 to become a full-stack web developer. In the same year, he helped create FundHub and is excited to see the site grow. He is always looking for opportunities to learn and is currently looking for other projects to contribute to.</p>
              </span>
            </div>
            <div class="col s2">
              <img src="./static/armand.jpg" alt="armand" class="circle responsive-img"> 
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="./static/farzana.jpg" alt="farzana" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">
                <p>Farzana graduated from Missouri University of Science & Technology in 2007 with a degree in Information Technology. She currently works with Gigya as a Web Manager and has previously worked with Stanford University and Google. She has extensive experience working on the front-end development technologies. She believes in working hard and is a dedicated performer. She joined FundHub in July, 2015 and has never looked back since then.</p>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>