
<div class="container-fluid" style="width=100%; height: 100%; background-image: url('./../static/background.jpg'); text-align: center;">

	<b><h3 style="color: green;">Investor related FAQs</h3>

	<h4>Once I am a verified Accredited Investor, how do I invest in Deals?</h4>
	<p>Once you’re a verified Accredited Investor, you can browse companies and choose to invest in the deals that fit your investor profile. Once you’ve chosen a Deal to invest in, simply click the “I’m Interested” button and from there you can make a reservation into that deal.</p>

	<h4>Can I make an investment under the minimum of the Deal?</h4>
	<p>No, you cannot make an investment on the platform under the minimum amount in the Deal.</p>

	<h4>How do I complete my profile to start investing in Deals?</h4>
	<p>To complete your profile, you need to include a profile picture, location and professional headline.</p>

	&nbsp;

	<h3 style="color: green;">Entrepreneurs related FAQs</h3>

	<h4>What are the different offering types?</h4>
	<p>You can raise money through Equity, Debt, Convertible Note or Revenue Share.</p>


	<h4>How do I set up my Deal offering?</h4>
	<p>FundHub is unable to advise on how you should structure your Deal offering terms. If you are uncertain about how to shape your Deal, we suggest that you seek legal and/or financial counsel.</p>

	<h4>Do actual investments and transactions happen on FundHub?</h4>
	<p>At this time, the actual transaction of wiring money does not happen on FundHub. The closing of dollars will happen offline with the investor.</p>

	<p><a href="#/home">Back to Home</a></p>
	</div>
</div>