<div ng-controller="UsersController">

<div id="container" style="width: 100%;">

    <header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#/home"><h1 style="color: #FF3333;">FundHub</h1></a>
          <p class="lead">Dreams in Motion</p></h1>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <img src="./static/logo.jpg" alt="fundhub_logo" style="heigth:100px; width:75px;">        
        </div>
      </div>
      
    </div>
    </div>
    </header>
</div>

  <div class="container">
  <div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          We help people dream together  <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
        <div id="slideshow" style="heigth:500px; width: 100%;">
    <script type="text/javascript">
      var num=1
      img1 = new Image ()
      img1.src = "./static/information.jpg"
      img1.alt = "slideshow pic"
      img2 = new Image ()
      img2.src = "./static/interference.jpg"
      img3 = new Image ()
      img3.src = "./static/message.jpg"
      img4 = new Image ()
      img4.src = "./static/nervous.jpg" 

      text1 = "Stand out"
      text2 = "Connecting the dots"
      text3 = "We build teams"
      text4 = "We are different"

      function slideshowUp()
      {
      num=num+1
      if (num==5)
      {num=1}
      document.mypic.src=eval("img"+num+".src")
      document.joe.burns.value=eval("text"+num)
      }

      function slideshowBack()
      {
      num=num-1
      if (num==0)
      {num=4}
      document.mypic.src=eval("img"+num+".src")
      document.joe.burns.value=eval("text"+num)
      }


    </SCRIPT>

      <CENTER>
        <IMG SRC="./static/information.jpg" NAME="mypic" BORDER=0 HEIGHT="400" WIDTH="100%">
        <p>

        <FORM NAME="joe">
          <INPUT TYPE="text" WIDTH="350" NAME="burns" VALUE="Stand out">
        </FORM>

        <A HREF="JavaScript:slideshowBack()"> Back</A>
        <A HREF="JavaScript:slideshowUp()"> Next</A> 
      </center>
    </div>

      </div>
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">
  <div class="row">
        <div class="col col-sm-3">
                <div id="sidebar">
            <ul class="nav nav-stacked">
                    <li><h3 class="highlight" style="color: #FF3333;">Channels <i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                    <li><a href="#/about_us">About Us</a></li>
                <li><a href="#/contact_us">Contact Us</a></li>
                <li><a href="#/faq">FAQ</a></li>
                <li><a href="#/security">Security</a></li>
        </ul>
               </div>
          </div>  
          <div class="col col-sm-9">
              <div class="panel">
              <!-- <div ng-repeat="project in projects"> -->
              <h1>Popular projects</h1>
              
                <div class="row">
                  <div class="col col-sm-8">
                    <img src="./../static/{{ project.logo_1 }}" alt="popular project image 1" class="img-responsive">
                  </div> 
              <div class="col col-sm-4">
                    <img src="/../static/{{ project.logo_2 }}" alt="image_2" class="img-responsive">
                    <h4>{{ project.project_title_2 }}</h4>
            <p>{{ project.project_description_2 }}</p> 
                    <hr>
                    <img src="/../static/{{ project.logo_3 }}" alt="image_3" class="img-responsive">
                    <h4>{{ project.project_title_3 }}</h4>
            <p>{{ project.project_description_3 }}</p> 
                  </div>   
                </div>
        
                <h2>{{ project.project_title_1 }}</h2>
                <p>{{ project.project_description_1 }}</p> 
 
                <br><br>
                <a href="#/all_projects"><button class="btn btn-default">More</button></a>
            <!-- </div> -->

                <!--  -->

                <hr>
                
                  <h1>Recently funded projects</h1>
              
                <div class="row">
                  <div class="col col-sm-8">
                    <img src="./../static/{{ project.logo_recent_1 }}" alt="recently funded project image 1" class="img-responsive">
                  </div> 
              <div class="col col-sm-4">
                    <img src="/../static/{{ project.logo_recent_2 }}" alt="image_2" class="img-responsive">
                    <h4>{{ project.project_title_recent_2 }}</h4>
            <p>{{ project.project_description_recent_2 }}</p> 
                    <hr>
                    <img src="/../static/{{ project.logo_recent_3 }}" alt="image_3" class="img-responsive">
                    <h4>{{ project.project_title_recent_3 }}</h4>
            <p>{{ project.project_description_recent_3 }}</p> 
                  </div>   
                </div>
        
                <h2>{{ project.project_title_recent_1 }}</h2>
                <p>{{ project.project_description_recent_1 }}</p> 
 
                <br><br>
                <a href="#/all_projects"><button class="btn btn-default">More</button></a>
                                <h1><a href="#"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a></h1>
              
                <hr>
                <h4><a href="http://bootply.com/">Back to top</a></h4>
                <hr>
              </div>
        </div> 
    </div>
</div>

  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</div>	