
<div class="container-fluid" style="width=100%; height: 100%; background-image: url('./../static/background.jpg'); text-align: center;">

	&nbsp;
	<b><h3 style="color: green;">Security</h3>

	<h4>Information We Accumulate</h4>
	<p>User-Provided Data: You provide us information about yourself, such as your name and e-mail address, when you register with the Service. If you correspond with us by email, we may retain the content of your email messages, your email address and our responses.

Cookies: When you visit fundhub.com, we may send one or more cookies – a small text file containing a string of alphanumeric characters – to your computer that uniquely identifies your browser and lets fundhub.com to help you log in faster and enhance your navigation through the site. A cookie does not collect personal information about you. fundhub.com uses both session cookies and persistent cookies. A persistent cookie remains on your hard drive after you close your browser. 

Log-In File: Log file information is automatically reported by your browser each time you access a web page. When you register with or view our site, our servers automatically record certain information that your web browser sends whenever you visit any website. 

Clear Gifs: When you use the Service, we may employ clear gifs (a.k.a. Web Beacons) which are used to track the online usage patterns of our users anonymously. </p>

	<h4>How We Use Your Information</h4>
	<p>We use the personal information you submit to operate, maintain, and provide to you the features and functionality of the Service.
Any personal information or content that you voluntarily disclose for posting to the Service (for instance, in Projects or other User Content you post) becomes available to the public. If you remove User Content, copies may remain viewable in cached and archived pages or if other users have copied or stored your User Content.</p>

	<h4>How We Disclose Your Information</h4>
	<p>Personally Identifiable Information:  fundhub.com may share your personally identifiable information with third parties for the purpose of providing services to you. We may store personal information in locations outside the direct control of fundhub.com (for instance, on servers or databases co-located with hosting providers).</p>

	&nbsp;
	<p><a href="#/home">Back to Home</a></p>
	</div>
</div>