
<div class="container-fluid" style="width=100%; height: 100%; background-image: url('background.jpg'); color: white; text-align: center;">

	&nbsp;
	<h3 style="color: pink;">What is FundHub</h3>

	<h4 style="color: green;">FundHub is a vibrant community of people working together to bring new things to life.</h4>
	<p>We welcome and support projects in the diverse categories of Art, Comics, Crafts, Dance, Design, Fashion, Film & Video, Food, Games, Journalism, Music, Photography, Publishing, Technology, and Theater. There are three rules every FundHub project must follow.</p>

	<h4 style="color: green;">Projects must create something to share with others.</h4>
	<p>FundHub can be used to create all sorts of things: art and gadgets, events and spaces, ideas and experiences. But every project needs a plan for creating something and sharing it with the world.</p>

	<h4 style="color: green;">Projects must be honest and clearly presented.</h4>
	<p>Our community is built on trust and communication. Projects can't mislead people or misrepresent facts, and creators should be candid about what they plan to accomplish. When a project involves manufacturing and distributing something complex, like a gadget, we require projects to show a prototype of what they're making, and we prohibit photorealistic renderings.</p>

	<h4 style="color: green;">Projects can't fundraise for charity, offer financial incentives, or involve prohibited items.</h4>
	<p>We're all in favor of charity and investment, but they're not permitted on FundHub. Projects can't promise to donate funds raised to a charity or cause, and they can't offer financial incentives like equity or repayment.</p>

	&nbsp;
	<p><a href="#/home">Back to Home</a></p>
	</div>
</div>